<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><Template>Normal.eit</Template><TotalTime>122</TotalTime><Application>Yozo_Office</Application><Pages>3</Pages><Words>386</Words><Characters>3211</Characters><Lines>113</Lines><Paragraphs>88</Paragraphs><CharactersWithSpaces>3619</CharactersWithSpaces></Properties>