<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><Template>Normal.eit</Template><TotalTime>14</TotalTime><Application>Yozo_Office</Application><Pages>4</Pages><Words>369</Words><Characters>2723</Characters><Lines>127</Lines><Paragraphs>89</Paragraphs><CharactersWithSpaces>3014</CharactersWithSpaces></Properties>